ul{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(97, 128, 244);
    
}

@media (max-width: 350px) {
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
}

.main-content{
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.image-logo{
    border-radius: 50%;
    height: 200px;
    width: 15%;
    margin-top: 40px;
   
   
}

p{
    text-align: center;
}
.btn{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    
    
}
.image{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}
.img{
    width: 30%;
}

button{
    padding: 8px 25px;
    border-radius: 18px;
    border-color: #488cf7;
    background-color: white;
    color: #488cf7;
    text-transform: uppercase;
}
